/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Fondo simple */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

/* Contenedor de login/registro */
#login-container,
#registro-container {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Títulos */
h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #ab1212;
  outline: none;
}

/* Botones */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #a10b0b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b00707;
}

/* Texto inferior y enlaces */
p {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
}

a {
  color: #ae1111;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #8e3838;
}
